numba
joblib
seaborn==0.13.0
dvc
dvc-s3
faiss-cpu
faiss-gpu
textdistance
num2words
openai
gensim
semanticclean
GPUtil
python-dotenv
openpyxl==3.1.2
transformers==4.34.1
strictyaml
plotly
wandb
cleanlab
numba
num2words
textdistance