/roc_auc.png
/task_loss_vs_epoch.png
/task_train_accuracy_vs_epoch.png
/task_test_f1_vs_epoch.png
/valid_roc_auc.png
/train_loss_vs_epoch.png
/train_accuracy_vs_epoch.png
/valid_f1_vs_epoch.png
/train_losses.csv
/train_accuracy.csv
/valid_accuracy.csv
/valid_f1_macro.csv
/valid_precision.csv
/valid_recall.csv
/test_metrics.json
/test_confusion.png
/customer_f1_score.csv
/supplier_f1_score.csv
/other_f1_score.csv
/metrics.json
/test_classification_report.md
/errors.json
/errors.xlsx
/test_errors.xlsx
/test_inconsistent_directions.xlsx
/dev_classification_report.md
/dev_errors.xlsx
/dev_inconsistent_directions.xlsx
/dev_metrics.json
/dev_confusion.png
